

#acteur 
{
	width: auto;
	border: red solid;
	margin: 10%;
}

#gbaf
{
	display: block;
	top : 2px;
	bottom :2px;
	width: 10%;
	height: auto;
}

#like
{
	margin-top: 10px;
	margin-bottom: 10px;
}
#comment li
{
	border: solid 1px red;
	border-radius: 15px;
	width: 100%;
}

#contenucom
{
	justify-content: center;
}

#membreaction
{
	border: solid black;
	margin-left: 30px;
	margin-right: 30px;
	border-radius: 5%;
	
}

#pseudo
{
	display: block;
	justify-content: center;
}

#likedislike
{
	display: block;
	margin: 40px;
}